<section class="px-8 pt-16">
  <h2 class="text-center text-4xl font-bold">Many options to choose from</h2>
  <p class="mx-auto mt-4 max-w-3xl text-center">
     Velit perspiciatis error est quam expedita aperiam assumenda eveniet, iste voluptatibus suscipit eligendi odit
     consequatur architecto dolor!
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl mx-auto mt-12">
    <div class="p-6 bg-white border border-gray-100 shadow-sm rounded-lg">
      <div class="w-12 h-1.5 bg-cyan-300"></div>
      <h3 class="font-semibold text-xl mt-2.5">Iste Voluptatibus</h3>
      <p class="mt-4 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam et modi mollitia repellendus eveniet, porro assumenda unde fuga at, quibusdam aperiam, odit deserunt beatae? Odit laudantium molestias vero! Quaerat?</p>
    </div>
  </div>
</section>
